<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
   <%= stylesheet_link_tag "homes", :media => "all" %>
    <title>BookersEntrance</title>
  </head>

<main>
  <h1 class=title>ようこそBookersへ!</h1>
  <div class=content>
  <p>
  Bookersでは、さまざまな書籍に関するあなたの意見や <br />
  印象を共有し交換することができます
  </p>



  <%= link_to "start", books_path %>

  </div>
</main>

