// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title {
  font-size: 40px;
}

main {
  margin: 50px;
}

.content {
  margin-left: 30px;
}